<div class="container m-5">
  <h1>TABLA DE PRODUCTOS REGISTRADOS</h1>
  <table class="table table-primary table-striped">
    <thead>
        <tr>
        <th scope="col">Nombre Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
            {{#each productos}}
                <tr>
                    <td class="nombreProd">{{this.title}}</td>
                    <td class="prProd">{{this.price}}</td>
                    <td><img alt="Foto" class="fotoProd" src={{this.thumbnail}}></td>
                </tr>
            {{/each}}
    </tbody>
  </table>
  <a href="/" class="btn btn-lg btn-info" role="button"><i class="bi-house-fill"></i> Inicio</a>
</div>